.App-post {
  position: relative;
  background: #E5E5E5;
  text-align: left;
  width: 720px;
  left: auto;
  top: 20px;
  background: #FFFFFF;
  opacity: 0.6;
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  margin: 20px auto;
  padding: 20px;
}

.Box {
  display: flex;
}

.Theme {
  font-weight: bold;
  margin-right: 10px;
}

.App {
  text-align: center;
  background: #E5E5E5;
}

.WritePost{
  display: list-item;
}

.WritePostUser {
  position: relative;
  width: 110px;
  height: 40px;
  top: 20px;

  background: #FFFFFF;
  opacity: 0.6;
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 20px;
  margin-right: 10px;

}

.WritePostTitle {
  position: relative;
  width: 470px;
  height: 40px;
  top: 20px;

  background: #FFFFFF;
  opacity: 0.6;
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 20px;
}

.WritePostBody {
  position: relative;
  width: 625px;
  height: 100px;
  left: auto;
  top: 5px;

  background: #FFFFFF;
  opacity: 0.6;
  box-shadow: 3px 3px 30px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 20px;
}
